[Desktop Entry]
Name=TuxStrap
GenericName=TuxStrap
Comment=Launches Roblox using TuxStrap
Keywords=Roblox;TuxStrap;
Exec=%TUXSTRAP_BIN% --background --all-features %u
Type=Application
NoDisplay=false
Categories=Game
MimeType=x-scheme-handler/roblox;x-scheme-handler/roblox-player;
